.container {
  .header {
    min-height: 80vh;
    display: flex;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 80px 0 80px 0;
    .textSection {
      width: 47%;
      padding: 10px;
      .title {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 2rem;
        line-height: 64px;
        color: #1f313d;
      }
      .description {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 2rem;
        line-height: 26px;
      }
    }
    .banner {
      width: 48%;
      .bannerImage {
        margin-top: 40px;
        max-width: 100%;
        height: auto;
      }
    }
  }
  .features {
    background-color: #f7f8fa;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-direction: column;
    text-align: center;
    .featuresWrapper {
      max-width: 1140px;

      .title {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 2rem;
        line-height: 64px;
        color: #1f313d;
      }

      .featureList {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        .featureItem {
          width: 25%;
          text-align: center;
          padding: 10px;
          .featureImg {
            width: 80%;
          }
          .featureTitle {
            font-size: 18px;
            font-weight: 600;
            line-height: 26px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    .header {
      flex-direction: column;
      padding: 35px 0 35px 0;
      .textSection {
        width: 100%;
        padding: 0 10px;
        .title {
          font-weight: 700;
          font-size: 30px;
          margin-bottom: 2rem;
          line-height: 50px;
        }
      }
      .banner {
        width: 100%;
      }
    }
    .features {
      padding: 65px 0 65px 0;
      .featuresWrapper {
        padding: 10px;
        text-align: center;
        .title {
          font-weight: 900;
          font-size: 24px;
          margin-bottom: 2rem;
          line-height: 1;
          color: #1f313d;
        }
        .featureList {
          display: block;
          .featureItem {
            width: 250px;
            text-align: center;
            margin: 0 auto;
            .featureTitle {
            }
          }
        }
      }
    }
  }
}
